import net.jini.jrmp.*;
import net.jini.jeri.*;
import net.jini.jeri.tcp.*;
import sorcer.core.*;
import net.jini.core.entry.Entry;
import net.jini.lookup.entry.*;
import sorcer.stringer.provider.*;
import sorcer.stringer.provider.ui.*;
import sorcer.stringer.provider.ui.mvc.*;

sorcer.core.provider.ServiceProvider {
		name="Stringer";
		publishedInterfaces = new Class[] { sorcer.stringer.provider.Stringer.class, sorcer.stringer.provider.ServiceStringer.class };
		description = "PROVIDER concatenating strings";
		location = "PJWSTK";
		entries = new Entry[] { 
			StringerUI.getUIDescriptor(),
			StringerView.getUIDescriptor(),
			new Comment("PJWSTK ALPHA stringer project"), 
			new Location("1","1","PJWSTK") };
        // if not declared the default exporter is BasicJeriExporter
        //exporter = new JrmpExporter(0);
        exporter = new BasicJeriExporter(TcpServerEndpoint.getInstance(0), new BasicILFactory());
        iconName="sorcer.jpg";
}
	

